.jumbotron-fluid {
	background-image:url("../images/jumbo-food2.jpg");
	background-repeat:no-repeat; 
	background-size:cover;
}

.jumboCenter {
	text-align: center;
}

.whiteText {
	color: white;
}

.card {
	border: 0;
}

#timeEnd {
	color: red;
}

#timer {
	font-size: 50px;
}

